<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Map Visualization</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map_page.css') }}">
</head>
<body>
<div class="header">

    <!-- Header section with flex to align items horizontally -->
    <div class="header-content">

        <!-- Set Date Range form -->
        <div class="date-range">
            <h2>Set Date Range</h2>
            <form method="post" onsubmit="showLoading()">
                <label for="start_date">Start Date:</label>
                <input type="date" name="start_date" value="{{ request.form.start_date }}" required>
                <label for="end_date">End Date:</label>
                <input type="date" name="end_date" value="{{ request.form.end_date }}" required>

                <label for="callsign_filter">Select Status:</label>
                <select name="callsign_filter">
                    <option value="both" {% if request.form.callsign_filter == 'both' %}selected{% endif %}>Both</option>
                    <option value="Real" {% if request.form.callsign_filter == 'Real' %}selected{% endif %}>Real</option>
                    <option value="Suspicious" {% if request.form.callsign_filter == 'Suspicious' %}selected{% endif %}>Suspicious</option>
                </select>

                <button type="submit">Generate Map</button>
                <div class="loading" id="loadingMessage">Generating map, please wait...</div>
            </form>
        </div>

        <!-- Percentage Info Section -->
        <div class="percentage-info">
    {% if map_file %}
        <div class="left-inner">
            <div class="Percentage-Title">
                <h2>Percentage</h2>
            </div>
            <div class="peresnts">
                <p>Real: {{ real_percentage | round(2) }}%</p>
                <p>Suspicious: {{ suspicious_percentage | round(2) }}%</p>
            </div>
        </div>
    {% endif %}
</div>

        <!-- Logout Section -->
        <div class="logout-container">
            <div class="user-info">
                <span>Welcome, {{ current_user.username }}!</span>
                <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
            </div>
        </div>
    </div>

    {% if warning_message %}
    <div class="alert alert-warning" role="alert">
        {{ warning_message }}
    </div>
    {% endif %}

    {% if map_file %}
    <iframe src="{{ url_for('send_map', filename=map_file) }}" width="100%" height="680px"></iframe>
    {% endif %}

    <script>
        function showLoading() {
            document.getElementById('loadingMessage').style.display = 'block';
        }
    </script>

    <!-- File Upload Section (Visible only to admins) -->
{% if current_user.is_admin %}
    <div class="file">
        <h3>Upload Your File</h3>

        <!-- Upload Form -->
        <form class="upload" action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xlsx" required>
            <button type="submit">Upload</button>
        </form>

        <!-- Flash Messages (below the form) -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="alert-file-upload">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endif %}
</div>

</body>
</html>
